/**
    --seaweedgreen: #354A21
    --eerieblack: #1B2021
    --cambridgeblue: #8AA39B
    --frenchgray: #CED3DC
**/

/* responsivity */

@media only screen and (max-width: 627px) {
* {
    font-size: 2rem;
    overflow: visible; 
}
    
    /** nav styling **/

    nav {
        position: fixed;
        width: 100vw;
        z-index: 10;
        top: 0;
    }

    nav > ul {
        font-size: 2.0rem;
        letter-spacing: 1.0vw;
        line-height: 10vh;
    }

    nav > ul > li > a:hover {
        color: #FFFFFF;
        text-decoration: none;
    }

    nav > ul > li > a, a:visited {
        color: #1B2021;
        text-decoration: none;
    }
    
     /** menu icon styling **/

    #menu {
        position: fixed;
        z-index: 11;
        transition: none;

    }

    #menu > span {
        position: relative;
        
    }

    .head-container {
        display: none;
    }

    .container-content {
        position: relative; 
        left: 0;
        width: 100vw;
        font-size: .5rem;
    }

    .description {
        font-size: .05rem;
    }
}

