/**
    --seaweedgreen: #354A21
    --eerieblack: #1B2021
    --cambridgeblue: #8AA39B
    --frenchgray: #CED3DC
**/

/* navigation & sidebar */

nav {
    position: fixed;
    background-color: #8AA39B;
    font-family:'Courier New', Courier, monospace;
    width: 15vw;
    height: 100vh;
    font-size: 1.5rem;
}

nav > ul {
    margin: 0vw;
    margin-top: 10vh;
    padding: 0vw;
    letter-spacing: .125rem;
    text-align: center;
    line-height: 150%;
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    list-style-type: none;
}

nav > ul > li > a, a:visited {
    color: #1B2021;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/* nav icon */

#menu {
    position: absolute;
    top: calc(100vh/35);
    left: calc(15vw/2.5);
    background-color: #D3D3D3;
    height: 6vh;
    width: 4vw;
    border-radius: 25%;
    display: block; 
    z-index: 10;
    transition: width 2s, height 2s;
    
}


#menu:hover {
    width: 2.604vw;
    height: 6vh;
}

#menu > span {
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


/* body content & styling */

body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: #CED3DC;
    font-family: 'Courier New', Courier, monospace;
    color: #1B2021;
    font-size: 2rem;
    overflow: auto;
}

.container-content {
    position: relative;
    left: 15vw;
    padding: .625vw;
    margin: 0;
    width: 65vw;
    font-size: 2rem;
}


.about-container{
    padding: .09vw;
    padding-top: .5vh;
    margin: 1.6vw;
    background-color: antiquewhite;
}

.media-container{
    padding: .09vw;
    margin:1.6vw;
    background-color: antiquewhite;
}

.button-container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.text-container{
    padding: .09vw;
    padding-top: .5vh;
    margin: 1.6vw;
    background-color: antiquewhite;
}

/* buttons & button styling */

.button {
    background-color: #8AA39B;
    border: none;
    color:#FFFFFF;
    border-radius: .625vw;
    padding: .625vw 2.8vh;
    margin: auto;
    display:inline-flex;
    margin-top: .5vh;
    align-items: center;
}


.button:hover {
    background-color: #CED3DC;
    color:#8AA39B
}



/* headings */

.head-container {
    z-index: 1030;
    padding: .781vw;
    margin:1.6vw;
    background-color: antiquewhite;

}

#heading {
    color: #1B2021;
    margin: 3.125vw;
    text-align: center;
    margin-top: 1vh;
    font-size: 5rem;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: .313rem;
}

h1 {
    color: #1B2021;
    font-size: 2.5rem;
    line-height: 150%;
    letter-spacing: .313rem;
    text-transform: uppercase;
}

h2 {
    color: #354A21;
    font-size: 1.563;
    line-height: 150%;
    letter-spacing: .313rem;;
    text-transform: capitalize;
}

h3 {
    color: #1B2021;
    font-size: 1.25rem;
    line-height: 150%;
    letter-spacing: .313rem;;
    text-transform: lowercase;
}

/* text & text styling */

.description {
    font-size: 1rem;
    margin: 1vw;
}

.description > ul {
    list-style-type: lower-roman;
}

.description > ul > li > a, a:visited {
    text-decoration: none;
    font-variant: small-caps;
    color:#1B2021
}

.description > ul > li > a:hover {
    text-decoration: none;
    font-variant: small-caps;
    color: #FFFFFF
}

strong {
    color:#1B2021;
    background-color: #8AA39B;
    font-weight: 800;
    font-variant: small-caps;
    font-family:'Courier New', Courier, monospace
}

i {
    color:#1B2021;
    background-color: #8AA39B;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace
}




/* begin cursor info! */

* {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat996.cur), auto !important;} 

/* code & .cur file sourced from https://www.cursors-4u.com on 3.28.2025 :) 
I also used this tutorial from tumblr (ofc it's from tumblr): 
https://www.tumblr.com/phantasyreign/626591573843607552/tutorial-how-to-add-cursor-into-your-blog
*/

/* end cursor info! */
