/**
    --seaweedgreen: #354A21
    --eerieblack: #1B2021
    --cambridgeblue: #8AA39B
    --frenchgray: #CED3DC
**/

/* navigation & sidebar */

nav {
    position: fixed;
    background-color: #8AA39B;
    font-family:'Courier New', Courier, monospace;
    width: 250px;
    height: 50vh;
}



nav > ul {
    font-size: 30px;
    margin: 0px;
    margin-top: 100px;
    padding: 0px;
    letter-spacing: 5px;
    text-align: center;
    line-height: 150%;
    font-family: 'Courier New', Courier, monospace;
    font-variant: small-caps;
    list-style-type: none;
}

nav > ul > li > a, a:visited {
    color: #1B2021;
    text-decoration: none;
}

nav > ul > li > a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-content{
    position:sticky;
    scroll-behavior: smooth;
}

/* nav icon */

#menu {
    position: fixed;
    top: 60px;
    left: 119px;
    background-color: #D3D3D3;
    height: 40px;
    width: 40px;
    border-radius: 25%;
    display: block; 
    z-index: 10;
    transition: width 2s, height 2s;
    
}

#menu:hover {
    width: 50px;
    height: 50px;
}

#menu > span {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.toggleButton {
    background-color: #D3D3D3;
}

/* body content & styling */

body {
    position: relative;
    line-height: 1.5;
    margin: 15px;
    margin-left: 15px;
    padding: 0px;
    display: grid;
    grid-template-columns: 256px auto;
    background-color: #CED3DC;
    font-family: 'Courier New', Courier, monospace;
    color: #1B2021
}

.container-content {
    position: relative;
    padding: 12px;
    margin: 30px;

}

.about-container{
    padding: 15px;
    padding-top: 5px;
    margin: 30px;
    background-color: antiquewhite;
}

.media-container{
    padding: 15px;
    margin:30px;
    background-color: antiquewhite;
}

.text-container{
    padding: 15px;
    padding-top: 5px;
    margin: 30px;
    background-color: antiquewhite;
}

/* buttons & button styling */

.button {
    background-color: #8AA39B;
    border: none;
    color:#FFFFFF;
    border-radius: 12px;
    padding: 12px 28px;
    margin: auto;
    display:inline-flex;
    margin-top: 5px;
    align-items: center;
}


.button:hover {
    background-color: #CED3DC;
    color:#8AA39B
}



/* headings */

.head-container {
    position: sticky;
    top: 0;
    z-index: 1030;
    padding: 15px;
    margin:30px;
    background-color: antiquewhite;

}

#heading {
    color: #1B2021;
    margin: 60px;
    text-align: center;
    margin-top: 10px;
    font-size: 80px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 5px;
}

h1 {
    color: #1B2021;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h2 {
    color: #354A21;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: 5px;
    text-transform: capitalize;
}

h3 {
    color: #1B2021;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 5px;
    text-transform: lowercase;
}

/* text & text styling */

.description > ul {
    list-style-type: lower-roman;
    font-size: 12px
}

.description > ul > li > a, a:visited {
    text-decoration: none;
    font-variant: small-caps;
    font-size: 20px;
    color:#1B2021
}

.description > ul > li > a:hover {
    text-decoration: none;
    font-variant: small-caps;
    font-size: 20px;
    color: #FFFFFF
}

strong {
    color:#1B2021;
    background-color: #8AA39B;
    font-size: 20px;
    font-weight: 800;
    font-variant: small-caps;
    font-family:'Courier New', Courier, monospace
}

i {
    color:#1B2021;
    background-color: #8AA39B;
    font-size: 15px;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace
}



/* responsivity */

@media screen and (max-width: 900px) {
    div.head-container {
      display: none;
    }
  }







/* begin cursor info! */

* {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat996.cur), auto !important;} 

/* code & .cur file sourced from https://www.cursors-4u.com on 3.28.2025 :) 
I also used this tutorial from tumblr (ofc it's from tumblr): 
https://www.tumblr.com/phantasyreign/626591573843607552/tutorial-how-to-add-cursor-into-your-blog
*/

/* end cursor info! */
